<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(34,34,34,0)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useThumbDots="true"
	indexPageName="galeria.html"

>
  <image imageURL="images/001.jpg"
	thumbURL="thumbs/001.jpg"
	linkURL="./img/fotos/001.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/001.jpg">
    <title><![CDATA[Atividade da Estação Biologia]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/002.jpg"
	thumbURL="thumbs/002.jpg"
	linkURL="./img/fotos/002.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/002.jpg">
    <title><![CDATA[Atividade da Estação Biologia]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/003.jpg"
	thumbURL="thumbs/003.jpg"
	linkURL="./img/fotos/003.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/003.jpg">
    <title><![CDATA[Discurso da Dra. Helena Nader]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/004.jpg"
	thumbURL="thumbs/004.jpg"
	linkURL="./img/fotos/004.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/004.jpg">
    <title><![CDATA[Atividade do Laboratório de Estudos Evolutivos Humanos]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/005.jpg"
	thumbURL="thumbs/005.jpg"
	linkURL="./img/fotos/005.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/005.jpg">
    <title><![CDATA[A marcha continuou mesmo debaixo de chuva]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/006.jpg"
	thumbURL="thumbs/006.jpg"
	linkURL="./img/fotos/006.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/006.jpg">
    <title><![CDATA[Multidão no Largo da Batata]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/007.jpg"
	thumbURL="thumbs/007.jpg"
	linkURL="./img/fotos/007.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/007.jpg">
    <title><![CDATA[Dr. Walter Neves dando entrevista]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/008.jpg"
	thumbURL="thumbs/008.jpg"
	linkURL="./img/fotos/008.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/008.jpg">
    <title><![CDATA[Roda de conversa sobre vacinas]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/009.jpg"
	thumbURL="thumbs/009.jpg"
	linkURL="./img/fotos/009.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/009.jpg">
    <title><![CDATA[Cartaz]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/010.jpg"
	thumbURL="thumbs/010.jpg"
	linkURL="./img/fotos/010.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/010.jpg">
    <title><![CDATA[Atividade do ICBjr sobre culturas de microorganismos]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/011.jpg"
	thumbURL="thumbs/011.jpg"
	linkURL="./img/fotos/011.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/011.jpg">
    <title><![CDATA[Prof. Gubi ensinando a matemática por traz das mágicas]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/012.jpg"
	thumbURL="thumbs/012.jpg"
	linkURL="./img/fotos/012.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/012.jpg">
    <title><![CDATA[Atividade do SciCast/Deviante]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/013.jpg"
	thumbURL="thumbs/013.jpg"
	linkURL="./img/fotos/013.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/013.jpg">
    <title><![CDATA[Atividade da Banca da Ciência]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/014.jpg"
	thumbURL="thumbs/014.jpg"
	linkURL="./img/fotos/014.jpg"
	linkTarget="_blank"
	sourcePath="/Users/felipesimoes/Documents/marchapelacienciasp/img/fotos/014.jpg">
    <title><![CDATA[Público ouvindo os discursos mesmo debaixo de chuva]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>